body{
    /*background-image:*/
    font-family: 'Gloria Hallelujah', cursive;
}

.jumbotron {
    background-color: aqua; 
}

h1 {
    border-bottom: none;
   
}

img {
    width: 100px;
    height: 100px;
}

.col-sm-6 {
    background-color: bisque;
}

.col-sm-4 {
    background-color: blueviolet;
}

.col-sm-2 {
    background-color: deeppink;
}

#total-score {
    background-color: blue;
}

.total-score {
    background-color: blue;
}

.target {
    background-color: blue;
}