body{
    /* Background pattern from Toptal Subtle Patterns*/
    background-image: url(fishnets-and-hearts.png);
    font-family: 'Gloria Hallelujah', cursive;
}

.jumbotron {
    background-color: aqua; 
}


img {
    width: 100px;
    height: 100px;
}

.col-sm-6 {
    background-color: bisque;
}

.col-sm-4 {
    background-color: blueviolet;
    min-height: 200px;
}

.col-sm-2 {
    background-color: rgb(238, 104, 175);
}

#total-score {
    background-color: rgb(64, 138, 248);
}

.total-score {
    background-color: rgb(64, 138, 248);
}

.target {
    background-color:rgb(64, 138, 248);
}